body {
    max-width: 1680px;
    margin: 0 auto;
}

.header {
    text-align: center;
}

h1 {
    font-size: 24px;
}

.inputoutput {
    width: 32%;
    display: inline-block;
    background: #cccccc36;
    text-align: center;
    margin: 0.5%;
    padding: 30px 15px;
    box-sizing: border-box;
}

.inputoutput .cell {
    min-height: 250px;
    display: flex;
    align-items: center;
}

.inputoutput img,
.inputoutput canvas {
    width: 100%;
}
.inputoutput.image-upload {
    display: block;
    margin: 20px auto;
}

#created-images{
    display:none;
    text-align: center;
}
#created-images.show{
    display: block;
}
.inputoutput.cn {
    background: #e6f1fd;
}
.inputoutput.cv {
    background: #ddf8f8;
}
.caption {
    margin: 25px auto 5px;
    font-size: 18px;
}